<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-aria.js"></script>

    <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>
    <script src="https://code.angularjs.org/1.4.6/i18n/angular-locale_ko-kr.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

    <script type="text/javascript">
    var discharge = angular.module('discharge', ['ngMaterial']);

    discharge.config(function($mdDateLocaleProvider) {
        $mdDateLocaleProvider.formatDate = function(date) {
            return moment(date).format('YYYY년 MM월 DD일');
        };
    });

    discharge.controller('CalcDischarge', function($scope) {
        $scope.myStartDate = new Date();
        $scope.isOpen = false;

        $scope.DutyType = [
            {'name': '육군', 
            'subname': '강한 친구 대한민국 육군!',
            'img': 'assets/img/roka.jpg', 
            'months': 21},

            {'name': '해군', 
            'subname': '해군의 힘, 대한민국의 미래입니다',
            'img': 'assets/img/rokn.jpg', 
            'months': 23},

            {'name': '공군', 
            'subname': '대한민국을 지키는 가장 높은 힘',
            'img': 'assets/img/rokaf.jpg', 
            'months': 24},

            {'name': '해병대', 
            'subname': '한번 해병은 영원한 해병',
            'img': 'assets/img/rokmc.jpg', 
            'months': 21}
        ];

        $scope.CardDefault = {
            'name': '민간인'
        };

        $scope.MyDuty = null;
        $scope.MyTotalDays = null;

        $scope.$watch('myStartDate', function(newDate, oldDate) {
            $scope.Calc($scope.MyDuty);
        });

        $scope.setDuty = function(duty) {
            $scope.MyDuty = duty;
            $scope.Calc(duty);
        }

        $scope.Calc = function(duty) { 
            var mtCurrent = moment();
            var mtStartDate = moment($scope.myStartDate);

            var mtLapseDays = moment.duration(mtCurrent.diff(mtStartDate)).asDays();

            var mtEndDate = moment(mtStartDate.add(duty.months, 'months'));
            var mtStartDate = moment($scope.myStartDate);
            var mtTotalDays = moment.duration(mtEndDate.diff(mtStartDate)).asDays();

            $scope.dutyProgress = (mtLapseDays / mtTotalDays) * 100;
        };
    });
    </script>
</head>
<body>
<div ng-app="discharge">
    <md-content ng-controller="CalcDischarge">
        <md-datepicker ng-model="myStartDate" md-placeholder="입대일"></md-datepicker>
        <md-list ng-cloak>
            <md-list-item ng-repeat="duty in DutyType" ng-click="setDuty(duty)" class="noright">
                <img ng-src="{{ duty.img }}" class="md-avatar" />
                <p>{{ duty.name }}</p>
            </md-list-item>
        </md-list>
    <div flex-xs flex-gt-xs="50" layout="column">
        <md-card md-theme="default" md-theme-watch>
        <md-card-title>
            <md-card-title-text>
                <div ng-if="MyDuty != null">
                    <span class="md-headline">{{ duty.name }}</span>
                    <span class="md-subhead">{{ duty.subname }}</span>
                </div>
                <div ng-if="Myduty == null">
                    <span class="md-headline">{{ CardDefault.name }}</span>
                </div>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-sm">
                    <img ng-src="{{ duty.img }}" />
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-progress-linear md-mode="determinate" value="{{ dutyProgress }}"></md-progress-linear>
        </md-card>
    </div>
    </md-content>
</div>
</body>
</html>
