<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-aria.js"></script>

    <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>
    <script src="https://code.angularjs.org/1.4.6/i18n/angular-locale_ko-kr.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js"></script>

    <script type="text/javascript">
    var discharge = angular.module('discharge', ['ngMaterial']);

    discharge.config(function($mdDateLocaleProvider) {
        $mdDateLocaleProvider.formatDate = function(date) {
            return moment(date).format('YYYY년 MM월 DD일');
        };
    });

    discharge.controller('CalcDischarge', function($scope) {
        $scope.myStartDate = new Date();
        $scope.isOpen = false;

        $scope.DutyType = [
            {'name': '육군', 'img': 'assets/img/roka.jpg', 'months': 21},
            {'name': '해군', 'img': 'assets/img/rokaf.jpg', 'months': 23},
            {'name': '공군', 'months': 24},
            {'name': '해병대', 'months': 21}
        ];

        $scope.Calc = function(duty) { 
            var mtCurrent = moment();
            var mtStartDate = moment($scope.myStartDate);

            var mtLapseDays = moment.duration(mtCurrent.diff(mtStartDate)).asDays();

            var mtEndDate = moment(mtStartDate.add(duty.months, 'months'));
            var mtStartDate = moment($scope.myStartDate);
            var mtTotalDays = moment.duration(mtEndDate.diff(mtStartDate)).asDays();

            $scope.dutyProgress = (mtLapseDays / mtTotalDays) * 100;
        };
    });
    </script>
</head>
<body>
<div ng-app="discharge">
    <md-content ng-controller="CalcDischarge">
        <md-datepicker ng-model="myStartDate" md-placeholder="입대일"></md-datepicker>
        <md-list ng-cloak>
            <md-list-item ng-repeat="duty in DutyType" ng-click="Calc(duty)" class="noright">
                <img ng-src="{{ duty.img }}" class="md-avatar" />
                <p>{{ duty.name }}</p>
            </md-list-item>
        </md-list>
    <div layout="column" layout-margin style="padding:25px;" ng-cloak>
        <md-progress-linear md-mode="determinate" value="{{ dutyProgress }}"></md-progress-linear>
    </div>
    </md-content>
</div>
</body>
</html>
