<!doctype html>
<html ng-app>
<head>
    <link rel="stylesheet" href="https://rawgit.com/angular/bower-material/master/angular-material.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-aria.js"></script>

    <script src="https://rawgit.com/angular/bower-material/master/angular-material.js"></script>

    <script type="text/javascript">
    var discharge = angular.module('discharge', ['ngMaterial']);

    discharge.controller('CalcDischarge', function($scope) {
        $scope.myStartDate = new Date();
        $scope.isOpen = false;

        $scope.DutyType = [
            {'name': '육군'},
            {'name': '해군'},
            {'name': '공군'},
            {'name': '해병대'}
        ];

        $scope.Calc = function(duty, StartDate) {
            alert(StartDate);
            };
    });
    </script>
</head>
<body>
    <div ng-app="discharge">
        <md-content ng-controller="CalcDischarge as ctrl">
            <md-datepicker ng-model="myStartDate" md-placeholder="Enter date"></md-datepicker>
            <md-list ng-controller="CalcDischarge as ctrl" ng-cloak>
                <md-list-item ng-repeat="duty in DutyType" ng-click="Calc(duty, myStartDate)" class="noright">
                    <p>{{ duty.name }}</p>
                </md-list-item>
            </md-list>
        </md-content>
    </div>
</body>
</html>
